.login-container {
  min-height: 100vh;
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
}

.login-header {
  font-family: var(--font-family-title);
  font-size: var(--font-size-2xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}

.login-container h1 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-3xl);
  margin-bottom: var(--spacing-md);
}

.primary-btn {
  margin-top: auto;
  padding: var(--spacing-md);
  background-color: var(--color-primary);
  color: #fff;
  border-radius: var(--radius-lg);
  border: none;
  font-size: var(--font-size-base);
}

.forgot-password {
  background: none;
  border: none;
  color: var(--color-primary);
  margin-bottom: var(--spacing-lg);
  text-align: left;
}
