.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.login-container input {
  width: 100%;
  padding: var(--spacing-md);
  border-radius: var(--radius-lg);
  border: none;
  background-color: #e5e5e5;
  margin-bottom: var(--spacing-lg);
}

.input-group input:focus {
  border-color: var(--color-primary);
  outline: none;
}